body {
  font-family: "Courier New", monospace;
  margin: 20px;
  padding: 0;
  background-color: #333;
  color: #fff;
}

h1 {
  color: #6ab04c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #3498db;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #555;
  padding: 8px;
}

p {
  color: #ccc;
}
